body {
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: black;
}

.root {
  display: flex;
  flex-direction: column;
}

h2 {
  color: green;
  font-weight: bold;
  text-align: center;
  top: 2px;
  flex-direction: column;
  letter-spacing: 2px;
  height: 2rem;
  margin: auto;
}

header {
  background-color: black;
  border-radius: 2px;
  border-bottom: 2px solid green;
  height: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 40px;
  align-content: flex-start;
  border-radius: 0.5rem;
  width: 40px;
}

.search {
  background-color: transparent;
  color: white;
  border: 2px solid green;
  border-radius: 2rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  margin: auto;
}

.search:focus {
  outline: none;
  color: green;
  border: none;
  border-bottom: 1px solid green;
}

.movie {
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  width: 200px;
}

.movie img {
  max-width: 100%;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0px;
}

.movie-overview {
  background-color: #f3f4f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.2);
  color: black;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}
.movie:hover img {
  opacity: 0.5;
}

.tag {
  background-color: black;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
